.page{
    margin: auto;
    color: #d0d0d0;
    background-image: url(./assets/images/secondary_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 20px;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.786);
    height: 100%;
    width: 100%;
    padding-top: 40px;
}
.exam-content{
    padding-right: 40px;
    width: 90%;
    margin: auto;
    margin-top: 200px;
    font-weight: 500;
}
.exam-head span{
    display: inline-block;
    padding: 1px 0;
}
.exam-head .instructor{
    color: #BF9B30;
    margin-right: 7px;
}
.exam-head .exam-name{
    font-size: 44px;
    padding-top: 8px;
    margin-bottom: 3px;
    padding-right: 40px;
}
.exam-head .online-exam-line{
    background-color: #d0d0d0;
    width :100px;
    height: 2px;
    opacity: 1;
    margin:6px 0;
    padding: 0;
}
.exam-info {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.right{
    /* min-width: 600px; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
}
.right > div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px ;
    padding-bottom: 25px;
}
.right .right-icon{
    margin-right: 20px;
    color: #BF9B30;
}
.Questions{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.question{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 40px;
    padding-left: 40px;
    border-radius: 10px;
}
.question .question-header{
    font-size: 24px;
    padding-right: 5px;
}
.question .choose{
    margin-top:15px ;
    width: 50%;
}
.question .choose .choose-item{
    display: inline-block;
    padding: 12px 15px;
    width :100%;
    background-color: rgba(57, 57, 57, 0.9);;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
}
.question .img{
    width: 100%;
    margin-top:30px ;
    margin-bottom: 20px;
}
.question .img img{
    width: 100%;
    max-height: 300px;
    padding-right: 40px;
    border-radius: 15px;
    object-fit:cover;
}
.question .marks{
    width: 100%;
}
.question .marks p{
    display: block;
    width:100px;
    text-align: center;
    margin-left: auto;
}
.Submit{
    width: 100%;
    padding: 40px 0;
}
.Submit .btns{
    margin-left: auto;
    width: 410px;
}
.Submit .btns input{
    margin-left:40px ;
    padding: 8px 50px;
    border-radius: 10px;
    background-color:#8f8f8f;
    color: white;
    cursor: pointer;
}
.Submit .btns .second-btn{
    background-color:#BF9B30;
}

@media screen and (max-width:992px ){
    .exam-content{
        width: 90%;
        padding-right: 0;
        margin: auto;
        margin-top: 40px;
    }
    .exam-head .exam-name{
        font-size: 30px;
        padding: 12px 0;
        margin-bottom: 3px;
    }
    .exam-info {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
    .right{
        width: 100%;   
        grid-gap: 15px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        margin-top: 20px;
    }
    .right >div{ 
        border-radius: 10px;
    }
    .first{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .question .choose{
        width: 90%;
    }
    .question .img img{
        max-height: 200px;
    }

}
@media screen and (max-width:769px ){
    .Submit .btns{
        width: 100%;
    }
    .Submit .btns input{
        margin-left:0px ;
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
    }
}